.about {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20vh 0 20vh 0;
}

.about-container {
    width: 90%;
    display: flex;
    align-items: center;
}

.about-text {
    font-size: 4vw;
    color: var(--primary);
    background: none;
    /* clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%); */
}

.name-container {
    position: relative;
}

.about-name {
    color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: var(--primary);
    background: none;
}

.about-text-container {
    display: flex;
    gap: 1rem;
    clip-path: polygon(0 0, 150% 0, 150% 150%, 0 150%);
}
