.block-container {
    position: absolute;
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.block {
    z-index: 5;
    margin-top: 100vh;
    width: 20%;
    height: 100%;
    background-color: #ffffff;
    /* background-color: var(--secondary); */
}
