.project-card-container {
    cursor: pointer;
    width: 50%;
    max-width: 40rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    /* position: absolute; */
    /* background: linear-gradient(to bottom right, #ffffff, #eeedeb); */
    border-radius: 25px;
}

.project-num {
    font-size: 3vw;
    color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: var(--primary);
    background: none;
}

.project-title {
    font-size: 3vw;
    transition: color 0.5s ease-out;
}

.project-information {
    color: var(--tertiary);
    line-height: 200%;
}

.project-top {
    display: flex;
    justify-content: space-between;
}

.arrow-container {
    border: solid 1px var(--primary);
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    display: grid;
    place-items: center;
    transition: color 0.5s ease-out;
}

.arrow-container > img {
    width: 2rem;
    height: 2rem;
    background: none;
}

.project-bottom {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.project-line {
    height: 1px;
    width: 100%;
    background-color: var(--primary);
    transition: 0.5s ease-out;
}

@media (max-width: 1199.98px) {
    .project-card-container {
        width: 60%;
    }

    .project-num {
        font-size: 3rem;
    }

    .project-title {
        font-size: 3rem;
    }

    .arrow-container {
        width: 3rem;
        height: 3rem;
    }

    .arrow-container > img {
        height: 1.5rem;
        width: 1.5rem;
    }
}

@media (max-width: 991.98px) {
}

@media (max-width: 767.98px) {
    .project-card-container {
        width: 100%;
    }
}

@media (max-width: 575.98px) {
    .project-num {
        font-size: 9vw;
    }

    .project-title {
        font-size: 9vw;
    }

    .arrow-container {
        width: 9vw;
        height: 9vw;
    }

    .arrow-container > img {
        height: 4vw;
        width: 9vw;
    }
}
