.separation-main-container {
    width: 90%;
    display: flex;
}

.separation-right {
    justify-content: end;
}

.separation-container {
    width: 50%;
    max-width: 50rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.line {
    height: 3px;
    width: 100%;
    background-color: var(--primary);
}

.text-container {
    display: flex;
    justify-content: space-between;
}

@media (max-width: 575.98px) {
}

@media (max-width: 767.98px) {
    .separation-main-container {
        width: 100%;
    }

    .separation-right {
        justify-content: center;
    }

    .separation-left {
        justify-content: center;
    }

    .separation-container {
        width: 90%;
    }
}

@media (max-width: 991.98px) {
}

@media (max-width: 1199.98px) {
}
