* {
    margin: 0;
    background-color: var(--secondary);
    /* background-color: #ffffff; */
}

:root {
    /* Font Family */
    --ff-heading: heading36;
    --ff-text: kiona;
    --ff-text2: satoshi-reg;
    --ff-bold: humane-bold;
    --ff-heading2: satoshi-bold;
    --ff-text3: satoshi-light;
    --ff-heading3: bandica;
    --ff-heading4: monument-ub;

    --fs-text: 1.2rem;
    --mfs-text: 0.7rem;

    --fs-heading: 3vw;

    --primary: #131313;
    --secondary: #ebe9e4;
    /* --secondary: #ffffff; */
    --accent: #e0b082;
    --tertiary: #888888;
    /* --highlight: #0cf2a2; */
    --highlight: #7d887a;

    --btn-padding: 1rem 2rem 1rem 2rem;
    --mbtn-padding: 0.5rem 1rem 0.5rem 1rem;
}

/* Global Css */
.btn {
    padding: var(--btn-padding);
}

.accent {
    color: var(--accent);
}

.outlineText {
    color: transparent;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: var(--highlight);
}

.heading {
    font-family: var(--ff-heading);
    color: var(--primary);
}

.heading2 {
    font-family: var(--ff-heading2);
    color: var(--primary);
    line-height: 100%;
}

.heading4 {
    font-family: var(--ff-heading4);
    color: var(--primary);
    line-height: 100%;
    letter-spacing: 1.1rem;
}

.text {
    font-family: var(--ff-text);
    color: var(--primary);
    line-height: 100%;
    font-weight: 600;
}

/* regular */
.text2 {
    font-family: var(--ff-text2);
    line-height: 100%;
}

/* light */
.text3 {
    font-family: var(--ff-text3);
    line-height: 100%;
}

/* SCROLL BAR */

body::-webkit-scrollbar {
    width: 5px; /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
    background: transparent; /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
    background-color: var(--highlight); /* color of the scroll thumb */
    border-radius: 20px; /* roundness of the scroll thumb */
}

@media (max-width: 1534px) {
    .line-container {
        width: 550px;
    }
}

@media (max-width: 800px) {
    .line-container {
        width: 250px;
    }
}

@media (max-width: 570px) {
    .btn {
        padding: var(--mbtn-padding);
    }

    .landing-title {
        font-size: 35vw;
    }

    .info-text-container {
        width: 55%;
    }
}
