* {
    margin: 0;
    background-color: var(--secondary);
    /* background-color: #ffffff; */
}

p {
    background: none;
}

:root {
    /* Font Family */
    --ff-heading: heading36;
    --ff-text: kiona;
    --ff-text2: satoshi-reg;
    --ff-bold: humane-bold;
    --ff-heading2: satoshi-bold;
    --ff-text3: satoshi-light;
    --ff-heading3: bandica;
    --ff-heading4: monument-ub;

    --fs-text: 1.2rem;
    --mfs-text: 0.7rem;
    --fs-satoshi-heading: 4vw;

    --fs-heading: 2vw;

    --primary: #131313;
    --secondary: #ebe9e4;
    /* --secondary: #ffffff; */
    --accent: #e0b082;
    --tertiary: #888888;
    /* --highlight: #0cf2a2; */
    /* --highlight: #7d887a; */
    --highlight: #68a77c;
    /* --highlight: #2d593d; */

    --btn-padding: 1rem 2rem 1rem 2rem;
    --mbtn-padding: 1rem 2rem 1rem 2rem;
}

/* Global Css */
.btn {
    padding: var(--btn-padding);
}

.accent {
    color: var(--accent);
}

.outlineText {
    color: transparent;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: var(--highlight);
}

.heading {
    font-family: var(--ff-heading);
    color: var(--primary);
}

.heading2 {
    font-family: var(--ff-heading2);
    color: var(--primary);
    line-height: 100%;
}

.heading4 {
    font-family: var(--ff-heading4);
    color: var(--primary);
    line-height: 100%;
    letter-spacing: 1.1rem;
}

.text {
    font-family: var(--ff-text);
    color: var(--primary);
    line-height: 100%;
    font-weight: 600;
}

/* regular */
.text2 {
    font-family: var(--ff-text2);
    line-height: 100%;
}

/* light */
.text3 {
    font-family: var(--ff-text3);
    line-height: 100%;
}

.fs-heading {
    font-size: 2.4rem;
}

.fs-huge {
    font-size: 17vw;
}

/* SCROLL BAR */

body::-webkit-scrollbar {
    width: 5px; /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
    background: transparent; /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
    background-color: var(--highlight); /* color of the scroll thumb */
    border-radius: 20px; /* roundness of the scroll thumb */
}

@media (max-width: 1199.98px) {
    .line-container {
        width: 550px;
    }

    .fs-huge {
        font-size: 20vw;
    }
    .fs-heading {
        font-size: 3vw;
    }
}

@media (max-width: 991.98px) {
    .fs-huge {
        font-size: 15rem;
    }

    .fs-heading {
        font-size: 2rem;
    }
}

@media (max-width: 767.98px) {
    .line-container {
        width: 250px;
    }

    .fs-huge {
        font-size: 10rem;
    }

    .fs-heading {
        font-size: 5vw;
    }
}

@media (max-width: 576px) {
    .btn {
        padding: var(--mbtn-padding);
    }

    .landing-title {
        font-size: 5rem;
    }

    .info-text-container {
        width: 55%;
    }

    .fs-huge {
        font-size: 5rem;
    }

    /* WHy is this not working????? */
    .fs-heading {
        font-size: 1.5rem;
    }

    .text {
        font-size: 0.8rem;
    }
}

/* @media (max-width: 1199.98px) {
}

@media (max-width: 991.98px) {
}

@media (max-width: 767.98px) {
}

@media (max-width: 575.98px) {
} */
